<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" *ngIf="auth.isAuthenticated">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile"> 
            <!-- User profile image -->
            <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{currentUser.fullName}} <span class="caret"></span></a>
                <div class="dropdown-menu animated flipInY">
                    <a [routerLink]="['/profile']" href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <div class="dropdown-divider"></div> <a [routerLink]="['/user']"  href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Edit Profile </a>
                    <div class="dropdown-divider"></div> <a (click)="auth.logout()" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngIf="auth.isAuthenticated">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li *ngIf="currentUser.groupid==1 || currentUser.groupid==2">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/users"><i class="mdi mdi-gauge"></i><span class="hide-menu">Users</span></a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/courses"><i class="mdi mdi-gauge"></i><span class="hide-menu">My Courses</span></a>
                <li>
                <li >
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/attendance"><i class="mdi mdi-gauge"></i><span class="hide-menu">Attendance</span></a>
                <li>
                <li >
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/weekly-schedule"><i class="mdi mdi-gauge"></i><span class="hide-menu">Weekly Schedule</span></a>
                <li>
                <li *ngIf="auth.isAuthenticated">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="mdi mdi-gauge"></i><span class="hide-menu">Profile</span></a>
                <li>
                <li *ngIf="!auth.isAuthenticated">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/login"><i class="mdi mdi-gauge"></i><span class="hide-menu">Login</span></a>
                <li>
                <li *ngIf="auth.isAuthenticated">
                    <a (click)="auth.logout()" ><i class="mdi mdi-gauge"></i><span class="hide-menu">Logout</span></a>
                <li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
